<!DOCTYPE html>
<html ng-app="shoppingList">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="stylesheet.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>

	<body ng-controller="CategoryController as catCtrl">
		<header>
			<h1 class="text-center" ng-show="(catCtrl.selectedTab==='All')">To buy: {{catCtrl.selectedTab}}</h1>
			<h1 class="text-center" ng-show="(catCtrl.selectedTab==='New Category') ">{{catCtrl.selectedTab}}</h1>
			<h1 class="text-center" ng-show="(catCtrl.selectedTab==='Edit Category')">{{catCtrl.selectedTab}}: {{catCtrl.catToEdit}}
			<h1 class="text-center" ng-hide="(catCtrl.selectedTab==='All') || (catCtrl.selectedTab==='Edit Category') || (catCtrl.selectedTab==='New Category') ">To buy: {{catCtrl.selectedCategory}}</h1>
			<h4 class="text-center" ng-hide="catCtrl.alertMessage === ''">{{catCtrl.alertMessage}}</h4>
		</header>

		<!-- Supertype tabs w/dropdown -->
		<div class="margin">
			<ul class="nav nav-pills">
				<li ng-class="{active: catCtrl.selectedTab === 'All'}">
					<a href ng-click="catCtrl.selectTab('All')">All</a>
				</li>
				<li ng-repeat="supertype in catCtrl.catSupertypes" ng-class="{ active:catCtrl.selectedTab === supertype}">
					<a href ng-hide="catCtrl.selectedTab===supertype" data-toggle="dropdown" class="dropdown-toggle">{{supertype}}<b class="caret"></b></a>
					<a href ng-hide="catCtrl.selectedTab!==supertype" data-toggle="dropdown" class="dropdown-toggle">{{supertype}}  -  {{catCtrl.selectedCategory}}<b class="caret"></b></a>
					<ul class="dropdown-menu" >
						<li><a href ng-repeat="category in catCtrl.cats[supertype]" 
									ng-click="catCtrl.selectCategory(supertype, category)"
									ng-hide="category == 'All'">
									{{category}}</a></li>
						<li class="divider"><a href></a></li>
						<li><a href ng-click="catCtrl.editCategory(supertype)">Edit {{supertype}}...</a></li>
					</ul>
				</li>
				<li ng-class="{active: catCtrl.selectedTab === 'New Category'}">
					<a href ng-click="catCtrl.selectTab('New Category')">+</a> 
				</li>
			</ul>
		</div>

		<!--Shopping list-->
		<div class="list-group" ng-controller="ListController as listCtrl" ng-hide="catCtrl.selectedTab === 'New Category' || catCtrl.selectedTab === 'Edit Category'">
			<div 	class="list-group-item" 
					ng-repeat="product in listCtrl.products" 
					ng-show="((product[catCtrl.selectedTab] === catCtrl.selectedCategory) || (catCtrl.selectedTab === 'All') || product[catCtrl.selectedTab] === 'All')"
					ng-click="listCtrl.removeProduct(product)"> 
				{{product.text}}

				<span class="badge active-badge" 
				ng-show="((((catCtrl.selectedCategory === 'All') || (catCtrl.selectedCategory === product[catCtrl.selectedTab])) && (catCtrl.selectedTab === supertype)) ||  (product[catCtrl.selectedTab] === 'All' && supertype === catCtrl.selectedTab)) && product[supertype] !== null && product[supertype] !== ''"
				ng-repeat="supertype in catCtrl.catSupertypes">
					{{product[supertype]}}
				</span>
				<span class="badge" 
				ng-hide="((((catCtrl.selectedCategory === 'All') || (catCtrl.selectedCategory === product[catCtrl.selectedTab])) && (catCtrl.selectedTab === supertype)) ||  (product[catCtrl.selectedTab] === 'All' && supertype === catCtrl.selectedTab)) || product[supertype] === null || product[supertype] === '' || product[supertype] === undefined"
				ng-repeat="supertype in catCtrl.catSupertypes">
					{{product[supertype]}}
				</span>
			</div>
		</div>
		<h1 ng-controller="ListController as listCtrl" ng-show="listCtrl.products.length === 0 && catCtrl.selectedTab !== 'New Category'">Done!</h1>

		<!--Divider-->
		<ul class="nav nav-list">
			<li class="divider"></li>
		</ul>

		<!-- New product form -->
		<form class="well" name="newProductForm" ng-controller="ListController as listCtrl" ng-submit="listCtrl.addProduct()" ng-hide="(catCtrl.selectedTab === 'New Category') || (catCtrl.selectedTab === 'Edit Category')">
			<blockquote class="list-group-item" ng-show="listCtrl.newProduct.text !== null && listCtrl.newProduct.text !== undefined">
				{{listCtrl.newProduct.text}} <span class="badge" ng-repeat="supertype in catCtrl.catSupertypes" ng-show="((listCtrl.newProduct[supertype] !== null) && (listCtrl.newProduct[supertype] !== undefined))">{{listCtrl.newProduct[supertype]}}</span>
			</blockquote>
			<h4>Add a new product here</h4>
			<fieldset class="form-group">
				<textarea ng-model="listCtrl.newProduct.text" class="form-control" placeholder="New product name..." title="name" required></textarea>
			</fieldset>
			<fieldset class="form-group">
				<select class="form-control"
						ng-repeat="supertype in catCtrl.catSupertypes" 
						ng-model="listCtrl.newProduct[supertype]" 
						ng-options="choices for choices in catCtrl.cats[supertype]" 
						title="{{supertype}}"
						required>
					<option value>Select from {{supertype}}</option>
				</select>
			</fieldset>
			<fieldset class="form-group">
				<input type="submit" class="btn btn-primary pull-right" value="Make new product" />
			</fieldset>
		</form>

		<!--New category form-->
		<div class="container-fluid">
			<div  class="row newcat" ng-show="catCtrl.selectedTab==='New Category'">
				<div class="col-lg-6">
					<form name="newCategoryForm" ng-submit="catCtrl.addSuperType()">
						<h2>Make a new category!</h2>
						<h4>Make sure to include subcategories. Click on one to remove it.</h4>
						<blockquote class="well" ng-show="catCtrl.supertypeToAdd.cats !== ['All'] && catCtrl.supertypeToAdd.name !== ''">
							<h4>{{catCtrl.supertypeToAdd.name}}</h4>
							<button class="btn btn-default" type="button">All</button>
							<button class="btn btn-default" ng-repeat="cat in catCtrl.supertypeToAdd.cats" ng-click="catCtrl.removeCatToAdd(cat)" ng-hide="cat=='All'">{{cat}}<br></button>
							<button class="btn btn-default" ng-click="catCtrl.catToAdd = ''">{{catCtrl.catToAdd}}</button>
						</blockquote>
						<fieldset class="form-group">
							<textarea ng-model="catCtrl.supertypeToAdd.name" class="form-control" placeholder="Make a new category. Example: 'On sale'" title="name" required></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Create new category!" />
						</fieldset>
					</form>
				</div>
				<div class="col-lg-6">
					<form name="newSubcatForm"ng-submit="catCtrl.addCatToAdd()" class="col-md-6">
						<fieldset class="form-group">
							<textarea ng-model="catCtrl.catToAdd" class="form-control" placeholder="Make a subcategory. Example: '50% off'" title="subcategory"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Add" />
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<!--Edit category form-->
		<div class="container-fluid">
			<div class="row newcat" ng-show="catCtrl.selectedTab==='Edit Category'">
				<div class="col-lg-6">
					<h2>Edit category: {{catCtrl.catToEdit}}</h2>
					<h4>Click on a subcategory to remove it.</h4>
					<blockquote class="well">
						<h4>{{catCtrl.catToEdit}}</h4>
						<button class="btn btn-default" type="button">All</button>
						<button class="btn btn-default" ng-repeat="cat in catCtrl.cats[catCtrl.catToEdit]" ng-click="catCtrl.removeCat(cat)" ng-hide="cat=='All'">{{cat}}</button>
						<button class="btn btn-default" type="button">{{catCtrl.catToAdd}}</button>
					</blockquote>
				</div>
				<div class="col-lg-6">
					<form name="newSubcatForm"ng-submit="catCtrl.addCat()" class="col-md-6">
						<fieldset class="form-group">
							<textarea ng-model="catCtrl.catToAdd" class="form-control" placeholder="Make a subcategory"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Add" />
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>